{{- if .Values.redisSecret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: redis-encryption-key
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
data:
  password: {{ randAlphaNum 32 | b64enc | quote }}
{{- end }}
